<div class="container-fluid top-bar">
  <div class="row">
    <div class="col-md-5 offset-md-2 col-9">
      <div class="top-search">
        <div class="form-group">
          <fa-icon [icon]="faSearch"></fa-icon>
          <input class="form-control rounded-0 py-2" type="search" placeholder="Search" id="example-search-input">
        </div>
      </div>
    </div>
    <div class="col-md-2 offset-md-3 col-3 top-setting">
      <a href="#" class="settings-link">
        <fa-icon [icon]="faUserCog"></fa-icon>
      </a>
    </div>
  </div>
</div>